name: "Release"

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.work
          cache-dependency-path: "**/go.sum"

      - run: go run ./build release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
